{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.judul }}</h1>

<h5 class="text-center text-muted mb-5">{{ blog.tanggal|date:'F jS Y' }}</h5>

{{ blog.description|safe }}

{% endblock %}
